<!doctype html>
<html lang="en" class="no-js">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>享寓青年-城市享之家</title>
    <link rel="stylesheet" href="../../static/guipiao_web_static/css/reset.css"> <!-- CSS reset -->
    <link rel="stylesheet" href="../../static/guipiao_web_static/css/style.css"> <!-- Resource style -->
    <link rel="stylesheet" href="../../static/guipiao_web_static/lib/layui/css/layui.css"> <!-- layui -->
    <link rel="icon" href="../../static/guipiao_web_static/img/favicon.ico" type="image/x-icon"/>
    <meta name="description" content="你知道吗，陌生的城市里，有那么一处独属于你的家，不管在什么时候，在什么地方，那里都会有一盏点亮的灯，温暖治愈你的疲惫，带你穿越城市的黑暗。
享寓青年：一家以公寓为核心的生活服务共享平台，为青年提供长期居住的品质公寓，实现互联网 + 公寓 + 社区，旨在为他乡城市打拼的青年找到一个温暖的家。
享寓青年成立于2017年。我们很年轻，但我们真诚、快乐、包容、分享……这里有满满的正能量，我们致力于整合有创意的租住方式、多元化的青年人群、互补性的生活资源，塑造一个有趣、信任、开放的社区生态，并通过共享经济和社群经济影响一代青年人的价值观，让生活于此的青年们找到灵魂休息的温暖港湾。">
    <meta name="keywords" content="享寓青年,享寓,青年公寓,公寓">
    <style>
        body {
            font-family: "microsoft yahei";
        }
    </style>
</head>
<body>


<div id="nav" class="nav-trans">
    <div class="layui-fluid">
        <div class="layui-row content-center-vertical">
            <div class="layui-col-lg8">
                <img src="../../static/guipiao_web_static/img/logo.png">
            </div>
            <div class="layui-col-lg4">
                <ul class="layui-nav" lay-filter="" style="background-color: transparent;">
                    <li class="layui-nav-item layui-this"><a href="/">首页</a></li>
                    <li class="layui-nav-item"><a href="/about">关于享寓</a></li>
                    <li class="layui-nav-item"><a href="javascript:tips();">享寓社区</a></li>
                    <li class="layui-nav-item"><a href="javascript:tips();">签名墙</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>


<section id="section1" class="cd-section" style="position: absolute;" data-stellar-ratio="0.5">
    <div class="matchwd">
        <div class="layui-carousel" id="topbanner">
            <div carousel-item>
                <img src="http://oos.guipiaoke.com/image/guipiao_web/topbanner1.jpg" alt="享寓">
                <img src="http://oos.guipiaoke.com/image/guipiao_web/topbanner2.jpg">
            </div>
        </div>
    </div>
</section><!-- cd-section -->

<section id="section2" class="cd-section" style="position: absolute;margin-top: 100vh;" data-stellar-ratio="1">
    <div class="matchwd">
        <!-- <div style="z-index: 1;position: absolute;">
            <img src="../../static/guipiao_web_static/img/mainpage1.png" class="matchwd">
        </div> -->
        <div style="z-index: 1;position: absolute;width: 100%;height: 100%;background-image: url('http://oos.guipiaoke.com/image/guipiao_web/mainpage1.jpg');background-size: cover;background-position: 50%;"></div>
        <div style="z-index: 2;position: absolute;width: 100%;height: 100%;">
            <div style="width: 100%;left: 0;bottom: 0;position: absolute;margin-bottom: 60px;">
                <div class="layui-row">
                    <div class="layui-col-lg3" align="center">
                        <img src="../../static/guipiao_web_static/img/icon_hd.png" width="100px" height="100px">
                        <div style="font-size: 40px;margin-top: 40px;">活动</div>
                    </div>
                    <div class="layui-col-lg3" align="center">
                        <img src="../../static/guipiao_web_static/img/icon_yjf.png" width="100px" height="100px">
                        <div style="font-size: 40px;margin-top: 40px;">宜家风</div>
                    </div>
                    <div class="layui-col-lg3" align="center">
                        <img src="../../static/guipiao_web_static/img/icon_gbzj.png" width="100px" height="100px">
                        <div style="font-size: 40px;margin-top: 40px;">告别中介</div>
                    </div>
                    <div class="layui-col-lg3" align="center">
                        <img src="../../static/guipiao_web_static/img/icon_myj.png" width="100px" height="100px">
                        <div style="font-size: 40px;margin-top: 40px;">免押金</div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section><!-- cd-section -->

<div style="position: absolute;margin-top: 200vh;width: 100%;height: 100%;">
    <div style="font-size: 50px;color: black;height: 30vh;background-color: white;" class="content-center">
        给你一个创意的生活空间
    </div>
    <section id="section3" class="" style="width: 100%;height: 100%;">
        <div class="" style="width: 100%;height: 100%;">
            <div style="width:100%;height: 100%;;background-image: url('http://oos.guipiaoke.com/image/guipiao_web/bg_bottombanner.jpg');background-size: cover;background-position: 50%;overflow: hidden;">
                <div id="prev" style="float: left;width: 3%;height: 100%;" class="content-center">
                    <img src="../../static/guipiao_web_static/img/arrow_left.png" width="30px" height="30px">
                </div>

                <div style="float: left;width: 94%;height: 100%;;">
                    <ul id="kiss-slider" style="width: 100%;height: 100%;;">
                        <li style="width: 100%;height: 100%;;"><img
                                src="http://oos.guipiaoke.com/image/guipiao_web/bottombanner1.jpg"
                                style="width: 100%;height: 100%;overflow: hidden;"/></li>
                        <li style="width: 100%;height: 100%;;"><img
                                src="http://oos.guipiaoke.com/image/guipiao_web/bottombanner2.jpg"
                                style="width: 100%;height: 100%;overflow: hidden;"/></li>
                    </ul>
                </div>

                <div id="next" style="float: left;width: 3%;height: 100%;" class="content-center">
                    <img src="../../static/guipiao_web_static/img/arrow_right.png" width="30px" height="30px">
                </div>
            </div>
        </div>
    </section><!-- cd-section -->
    <div style="height: 10vh;background-color: white;"></div>

    <section id="section4" class="cd-section">
        <div class="matchwd">
            <!-- <div style="z-index: 1;position: absolute;width: 100%;height: 100%;background-image: url('../../static/guipiao_web_static/img/mainpage2.png');background-size: cover;background-position: 50%;">
                <img src="../../static/guipiao_web_static/img/mainpage2.png" style="width: 100%;height: 100%;">
            </div> -->
            <div style="z-index: 1;position: absolute;width: 100%;height: 100%;background-image: url('http://oos.guipiaoke.com/image/guipiao_web/mainpage2.jpg');background-size: cover;background-position: 50%;">
            </div>
            <div style="z-index: 2;position: absolute;width: 100%;height: 100%;">
                <div style="width: 100%;height: 100%;" class="content-center">
                    <div class="layui-row" style="width: 100%;">
                        <div class="layui-col-lg3" align="center">
                            <img src="../../static/guipiao_web_static/img/icon_wifi.png" width="100px" height="100px">
                            <div style="font-size: 30px;margin-top: 40px;">Wi-Fi全覆盖</div>
                        </div>
                        <div class="layui-col-lg3" align="center">
                            <img src="../../static/guipiao_web_static/img/icon_smwx.png" width="100px" height="100px">
                            <div style="font-size: 30px;margin-top: 40px;">上门维修</div>
                        </div>
                        <div class="layui-col-lg3" align="center">
                            <img src="../../static/guipiao_web_static/img/icon_mfhz.png" width="100px" height="100px">
                            <div style="font-size: 30px;margin-top: 40px;">免费换租</div>
                        </div>
                        <div class="layui-col-lg3" align="center">
                            <img src="../../static/guipiao_web_static/img/icon_mftgzcbj.png" width="100px"
                                 height="100px">
                            <div style="font-size: 30px;margin-top: 40px;">免费提供专车搬家</div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section><!-- cd-section -->

    <section id="section5" class="cd-section">
        <div class="matchwd">
            <div style="height: 30%;background-color: white;"></div>
            <div style="height: 70%;background-image: url('http://oos.guipiaoke.com/image/guipiao_web/mainpage3.jpg');background-size: cover;background-position: 50%;">
                <div style="height: 80%;">

                </div>
                <div style="height: 20%;">
                    <div class="content-center" style="font-size: 16px;height: 60%;">
                        <div class="bottom-nav" align="center"><a href="/about">关于享寓</a></div>
                        <div class="bottom-nav" align="center">
								<span class="QRcode_XCX off" onmouseover="this.className='QRcode_XCX on';"
                                      onmouseout="this.className='QRcode_XCX off';">
									<a>联系我们</a>
									<img src="../../static/guipiao_web_static/img/phone.png"
                                         style="position: absolute;left: -38px;top: -150px;" width="140" height="140">
								</span>
                        </div>
                        <div class="bottom-nav" align="center">
								<span class="QRcode_XCX off" onmouseover="this.className='QRcode_XCX on';"
                                      onmouseout="this.className='QRcode_XCX off';">
									<a>微信</a>
									<img src="../../static/guipiao_web_static/img/WX_code.png"
                                         style="position: absolute;left: -54px;top: -150px;" width="140" height="140">
								</span>
                        </div>
                        <div class="bottom-nav" align="center">
								<span class="QRcode_XCX off" onmouseover="this.className='QRcode_XCX on';"
                                      onmouseout="this.className='QRcode_XCX off';">
									<a>小程序</a>
									<img src="../../static/guipiao_web_static/img/XCX_code.png"
                                         style="position: absolute;left: -46px;top: -150px;" width="140" height="140">
								</span>
                        </div>
                    </div>
                    <div align="center" class="bottom-nav" style="font-size: 12px;height: 40%;">
                        <a>备案号：</a>
                        <a target="view_window" href="http://www.miitbeian.gov.cn/">黔ICP备17009867号</a>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <a target="view_window" href="http://www.beian.gov.cn/">贵公网安备52011502000299号</a>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- cd-section -->
</div>


<!-- <div style="width: 100%; height: 50px; line-height: 50px; text-align: center;">
    更多网页特效，请访问<a href="http://www.5iweb.com.cn"><b>网页特效库</b></a>,欢迎加入网页特效库QQ交流群：258242983
</div> -->
<script src="../../static/guipiao_web_static/js/jquery-2.1.4.js"></script>
<script src="../../static/guipiao_web_static/js/jquery.kiss-slider.min.js"></script>
<script src="../../static/guipiao_web_static/js/jquery.stellar.min.js"></script>

<script type="text/javascript">
    window.onscroll = function () {
        // 第二个section距离顶部的高度
        var distance = $("#section2").offset().top;
        // 已经滑动的距离，也即是向上滑动时，已经隐藏的高度
        var currentScrollHeight = $(window).scrollTop();

        console.log(distance + "," + currentScrollHeight);
        if (currentScrollHeight >= distance)
            $("#nav").css({"background": "rgba(34,34,34,1.0)"});
        else
            $("#nav").css({"background": "rgba(34,34,34,0.0)"});
    }

    // 底部banner上一页，下一页按钮
    $(function () {
        $('#kiss-slider').kissSlider({
            prevSelector: '#prev',
            nextSelector: '#next',
        });
    })

    // 滚动视差
    $.stellar();
</script>

<!-- layui -->
<script src="../../static/guipiao_web_static/lib/layui/layui.all.js"></script>
<script>
    ;!function () {
        var carousel = layui.carousel;
        var element = layui.element;
        //建造实例
        carousel.render({
            elem: '#topbanner'
            , width: '100%'
            , height: '100%'
            , indicator: 'none'
        });

    }();

    function tips() {
        ;!function () {
            var layer = layui.layer;
            layer.msg('敬请期待');
        }();

    }
</script>
<!-- end layui -->

</body>
</html>