<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>享寓青年</title>
	<link rel="icon" href="../../static/guipiao_manage_static/favicon.ico" type="image/x-icon"/>
  </head>
  <body>
    <div id="app"></div>

    {#  这一行必须在第一行  #}
    <script src="../../static/guipiao_manage_static/build.js"></script>
    <script src="../../static/guipiao_manage_static/0.build.js"></script>
    <script src="../../static/guipiao_manage_static/1.build.js"></script>
    <script src="../../static/guipiao_manage_static/2.build.js"></script>
    <script src="../../static/guipiao_manage_static/3.build.js"></script>
    <script src="../../static/guipiao_manage_static/4.build.js"></script>
    <script src="../../static/guipiao_manage_static/5.build.js"></script>
    <script src="../../static/guipiao_manage_static/6.build.js"></script>
    <script src="../../static/guipiao_manage_static/7.build.js"></script>
    <script src="../../static/guipiao_manage_static/8.build.js"></script>
  </body>
</html>